
// Body
//$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: verdana,arial,helvetica,sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$theme-colors: (
  "primary": #4280f4,
  "primary-accent": #3264c1
);
