
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "animations";
@import "overrides";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#site-header {
  border-bottom: 3px solid #3264c1;

  .navbar-brand {
    padding-top: .2rem !important;
  }

  nav {
    padding: 0 1rem;

    .dropdown-menu {
      margin-top: 1px;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-width: 2px;

      .dropdown-item {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}

.navbar-brand {
  padding: .25rem 0 .15rem !important;
  font-size: 1.1rem !important;
}

.item {
  height: 64px;
}

.article-image {
  max-width: 64px;

  img {
    max-width: 100%;
  }
}

.bookmark {

}

.sub-heading {
  line-height: 14px;
}

.dropdown {

  &.right .dropdown-menu {
    right: 0;
    left: auto;
  }

  &.input .dropdown-menu {
    width: 300px;
  }
}

.article-full {
  img {
    max-width: 100%;
  }
}

.feed-article {
  cursor: pointer;

  &:hover {
    background: $gray-100;
  }

  .article-title {
    font-size: medium;
  }

  .article-header {
    font-weight: normal;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-left 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.multi {
  .remove {
    cursor: pointer;

    &:hover {
      color: darken($gray-600, 20%) !important;
    }
  }
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-suggestion {
  cursor: pointer;
}

.hidden {
  display: none;
}

.article-details {
  .sub-heading {
    font-size: .9rem;
  }
}
