.m-2-5 {
  margin: 0.8rem !important;
}

.mt-2-5,
.my-2-5 {
  margin-top: 0.8rem !important;
}

.mr-2-5,
.mx-2-5 {
  margin-right: 0.8rem !important;
}

.mb-2-5,
.my-2-5 {
  margin-bottom: 0.8rem !important;
}

.ml-2-5,
.mx-2-5 {
  margin-left: 0.8rem !important;
}

.p-2-5 {
  padding: 0.8rem !important;
}

.pt-2-5,
.py-2-5 {
  padding-top: 0.8rem !important;
}

.pr-2-5,
.px-2-5 {
  padding-right: 0.8rem !important;
}

.pb-2-5,
.py-2-5 {
  padding-bottom: 0.8rem !important;
}

.pl-2-5,
.px-2-5 {
  padding-left: 0.8rem !important;
}
