<template>
    <div class="dropdown right input" ref="dropdown">
        <a class="btn btn-link dropdown-toggle text-white" href="#" role="button" id="dropdown-add-feed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Feed
        </a>

        <div class="dropdown-menu border-top-0 px-2 border-primary-accent" aria-labelledby="dropdown-add-feed">
            <div class="input-group input-group-sm">
                <input class="form-control" placeholder="URL" type="url" v-model="feedUrl" ref="input" />
                <div class="input-group-append">
                    <button class="btn btn-primary border" @click="addFeed">save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        feedUrl: ''
      }
    },

    mounted() {
      $(this.$refs.dropdown).on('hide.bs.dropdown', this.clear)
      $(this.$refs.dropdown).on('show.bs.dropdown', () => {
        this.$refs.input.focus();
      })
    },

    methods: {
      addFeed() {
        if (!this.feedUrl) {
          return;
        }

        axios.post('/api/feed', {
          url: this.feedUrl
        })
          .then((response) => {
            console.log(response);
            this.clear();
          })
          .catch((error) => {
            console.log(error);
            this.clear();
          });
      },

      clear() {
        this.feedUrl = '';
        console.log('clear', this.feedUrl);
      }
    }
  }
</script>
