<template>
    <article class="d-flex flex-row mb-2-5">
        <div class="article-image mr-3" v-if="hasImage">
            <img :src="articleImage" class="rounded"/>
        </div>
        <div class="item h-100 w-100">
            <header>
                <a :href="article.link" class="font-weight-bold text-primary" @click="viewArticle(article.id, $event)">{{ article.title }}</a>
                <small><span class="badge badge-light">Category Name</span></small>
            </header>
            <div class="sub-heading">
                <small>
                    {{ article.timeAgo }} on <a :href="article.feed.site_url" class="font-weight-bold text-primary" target="_blank">{{ article.feed.host }}</a>
                    | <a href="#" class="bookmark text-secondary font-weight-bold">share</a>
                    | <a href="#" class="bookmark text-secondary font-weight-bold">save</a>
                    | <a href="#" class="bookmark text-secondary font-weight-bold">mark as read</a>
                </small>
            </div>
        </div>
    </article>
</template>

<script>
  export default {
    props: ['article'],

    data() {
      return {
        hasImage: false,
        articleImage: '',
        summary: ''
      };
    },

    mounted() {
      this.setSummary();
      this.setArticleImage();
    },

    methods: {
      viewArticle(id, event) {
        if (event.ctrlKey || event.metaKey) return;
        event.preventDefault();

        this.$emit('selected', this.article)
      },

      setSummary() {
        const temp = document.createElement('div');
        temp.innerHTML = this.article.description;
        this.summary = temp.innerText;
      },

      setArticleImage() {
        const temp = document.createElement('div');
        temp.innerHTML = this.article.content;
        const images = temp.getElementsByTagName('img');
        if (images.length) {
          this.hasImage = true;
          this.articleImage = images[0].src;
        }
      }
    }
  }
</script>
