<template>
    <div class="article-details row">
        <div class="col-1">
            <button type="button" class="btn btn-light btn-sm border" @click="closeSelected">&laquo; back</button>
        </div>
        <article class="article-full col">
            <h2>{{ article.title }}</h2>
            <section class="description" v-html="article.content"></section>
        </article>
    </div>
</template>

<script>
  export default {
    props: ['article'],

    methods: {
      closeSelected() {
        this.$emit('close')
      }
    }
  }
</script>
