<template>
    <div>
        <div v-if="!showDetails">
            <h2>Unread ({{count}})</h2>

            <section class="feed">
                <feed-article
                    v-for="article in articles"
                    :article="article"
                    @selected="viewSelected"
                ></feed-article>
            </section>
        </div>

        <detail-view :article="selectedArticle" v-if="showDetails" @close="showDetails = false" class="detail-view"></detail-view>
    </div>
</template>

<script>
  import FeedArticle from './Article';
  import DetailView from './DetailView';

  export default {
    components: { FeedArticle, DetailView },

    props: {
      articles: {
        type: Array,
        default: []
      }
    },

    data() {
      return {
        selectedArticle: {},
        showDetails: false
      };
    },

    computed: {
      count() {
        return this.articles.length;
      }
    },

    methods: {
      viewSelected(article) {
        this.selectedArticle = article;
        this.showDetails = true;
      }
    }
  }
</script>
